body{
  background-color: #FEFAE0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1{
  color: #CCD5AE;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.separator{
  width: 80%;
  margin: 20px 0px;
  color: #d4a373;
  background-color: #d4a373;
  height: 1px;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px 0px;
}

.product-nr{
  margin: 25px 20px 0 0;
  font-weight: bolder;
  font-size: 25px;
}

.product-type{
  font-weight: bolder;
  font-size: 15px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.vertical-holder{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vertical-holder > label{
  font-weight: bolder;
  margin-bottom: 5px;
}

.information{
  border: none;
  background-color: #FEFAE0;
}

.information-new{
  border-style:dotted;
}

.horizontal-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  border-style: dashed none dashed none;
  border-color: #d4a373;
  border-width: 1px;
}




.btn-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top:  30px;
}

.btn{
  width: 70px;
  height:30px;
  line-height: 10px;
  color: white;
  margin: 0 2px;
  border-radius: 20%;
}

.btn0{
  background-color: green;
  margin-bottom: 10px;
}

.btn1{
  background-color: lightseagreen;
}

.btn2{
  background-color: orange;
}

.btn3{
  background-color: red;
}

.btn4{
  background-color: lightskyblue;
}

.noshow{
  display:none;
}
